APP_PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=user
DB_PASSWORD=pass
DB_DATABASE=database
JWT_SECRET=your-secret-key
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_S3_BUCKET_NAME=your-bucket-name
UPLOAD_PATH=server-upload-path